<section class="edit-contact">
  <form class="edit-contact-form" action='/contacts/<%= @contact.id %>' method='post'>
    <input type='hidden' name='_method' value='put'>
    <!-- <input type='text' name='first_name' value='<%= @contact.first_name %>'>
    <input type='text' name='last_name' value='<%= @contact.last_name %>'>
    <input type='text' name='email' value='<%= @contact.email %>'>
    <input type='text' name='note' value='<%= @contact.note %>'> -->
    <!-- <input type='submit' value='Edit Contact'> -->

    <div class="field-wrapper">
      <label for="firstname-edit">First Name</label>
      <input id="firstname-edit" type='text' name='first_name' value="<%= @contact.first_name %>">
    </div>

    <div class="field-wrapper">
      <label for="lastname-edit">Last Name</label>
      <input id="lastname-edit" type='text' name='last_name' value="<%= @contact.last_name %>">
    </div>

    <div class="field-wrapper">
      <label for="email-edit">Email Address</label>
      <input id="email-edit" type='text' name='email' value="<%= @contact.email %>">
    </div>

    <div class="field-wrapper">
      <label for="notes-edit">Notes</label>
      <textarea id="notes-edit" name="note" rows="8" cols="20"><%= @contact.note %></textarea>
    </div>

    <div class="field-wrapper">
      <button class="default-button" type="submit">Edit Contact</button>
    </div>
  </form>
</section>