<section class="contact-info">
  <h1 class="headers"><%= @contact.full_name %></h1>
  <h2><%= @contact.email %></h2>

  <p><%= @contact.note %></p>

  <a class="links" href="/contacts/<%= @contact.id %>/edit">Edit</a>

  <form action="/contacts/<%= @contact.id %>" method="post">
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete Contact'>
  </form>
</section>